body {
  background-color: black;
}

.App {
  margin: auto;
}

.addedBy {
  margin-top: -.5vw;
}

p {
  color: white;
}

h2 {
  color: white;
}

h1 {
  color: Salmon;
}

h3 {
  color: white;
}

h4 {
  color: white;
}

label {
  color: white;
}

a {
  color: salmon;
}

.description-container {
  width: 80%; 
  margin: auto;
  text-align: left;
  margin-top: 1vw;
}

a:hover {
  color: salmon;
  text-decoration: none;
}

.bottom-text {
  padding-bottom: 1vw;
}

.borders {
  position: relative;
  border: 5px solid salmon;
}

.borders:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 5px solid blue;
}

.motw-container {
  background-color: #001a33;
  width: 23vw; 
  text-align: center; 
  margin: auto; 
  margin-top: 35px;
  margin-bottom: 2vw;
}

.center {
  margin: 'auto';
  text-align: center;
}

.title {
  padding-top: 20px;
  color: salmon;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.previous-movie {
  display: flex;
  justify-content: center;
}

.App-link {
  color: salmon;
}



/* For Tablets */
@media screen and (min-width: 600px) and (max-width: 1400px) {
  .motw-container{
    background-color: #001a33;
    width: 50vw; 
    text-align: center; 
    margin: auto; 
    margin-top: 35px;
  }

  .bottom-text {
    padding-bottom: 2vw;
  }
}


@media screen and (max-width: 600px) {
  h1 {
    font-size: 6vw;
  }

  h3 {
    font-size: 4vw;
  }

  h4 {
    font-size: 4vw;
  }

  p {
    font-size: 3vw;   
  }

  .motw-container{
    background-color: #001a33;
    width: 80vw; 
    text-align: center; 
    margin: auto; 
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .bottom-text {
    padding-bottom: 3vw;
  }

  .description-container {
    margin-top: 3vw;
  }

  .addedBy {
    margin-top: -2vw;
  }
}
